body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('back.jpg');
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
}

.card {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 45%;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: #333;
}

.card p {
  color: #666;
  margin-bottom: 20px;
}

.card a {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card a:hover {
  background-color: #45a049;
}

/* Add some spacing and styling for icons */
.card i {
  margin-right: 5px;
  font-size: 1.2em;
}
